<h1 class="mb-5 text-center">Rewards</h1>
<ul class="px-0 d-flex flex-wrap">
  <% rewards.each do |reward| %>
    <li class="d-block mb-3 col-12 col-md-6 px-2" test_id="reward_<%= reward.id %>">
      <div class="card h-100">
        <div class="card-header">
          Reward <%= reward.id %>
        </div>
        <div class="card-body d-flex flex-column flex-lg-row">
          <% if reward.photo.attached? %>
            <%= image_tag reward.photo, class: 'me-2 my-auto', size: '200x200' %>
          <% end %>
          <div>
            <p class="card-text"><span class="font-weight-bold">Category: </span><%= reward.category ? reward.category.title : 'No category' %></p>
            <p class="card-text"><span class="font-weight-bold">Title: </span><%= reward.title %></p>
            <p class="card-text"><span class="font-weight-bold">Description: </span><%= reward.description %></p>
            <p class="card-text"><span class="font-weight-bold">Price: </span><%= reward.price %></p>
            <span><%= link_to 'Edit', edit_admin_users_reward_path(reward), class: 'btn btn-warning' %></span> |
            <span><%= link_to 'Remove', admin_users_reward_path(reward), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></span>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= link_to 'New Reward', new_admin_users_reward_path(rewards), class: 'btn btn-primary mb-5 mt-3' %>
