<h1 class="text-center mb-5">Employees list</h1>
<ul class="px-0">
  <% employees.each do |employee| %>
    <li class="card mt-4" test_id="employee_<%= employee.id %>">
      <div class="card-header">
        Employee <%= employee.id %>
      </div>
      <div class="card-body">
        <p class="card-text"><span class="font-weight-bold">Email: </span><%= employee.email %></p>
        <p class="card-text"><span class="font-weight-bold">Number of kudos: </span><%= employee.number_of_available_kudos %></p>
        <div><%= link_to 'Employee\'s orders', admin_users_employee_orders_path(employee), class: 'btn btn-outline-success' %></div>
        <div class="btn-group mt-3" role="group" aria-label="Basic mixed styles example">
          <span class="btn btn-warning"><%= link_to 'Edit', edit_admin_users_employee_path(employee), class: 'btn btn-warning' %></span>
          <span class="btn btn-danger"><%= link_to 'Remove', admin_users_employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></span>
        </div>
      </div>
    </li>
  <% end %>
</ul>
