<h1 class="mb-5 text-center" >Kudos</h1>
<ul class="px-0">
  <% kudos.each do |kudo| %>
    <li class="card mb-3" id="kudo_<%= kudo.id %>">
      <div class="card-header">
        Kudo for <%= kudo.receiver.email %>
      </div>
      <div class="card-body">
        <p class="card-text"><span class="font-weight-bold">Title: </span><%= kudo.title %></p>
        <p class="card-text"><span class="font-weight-bold">Content: </span><%= kudo.content %></p>
        <p class="card-text"><span class="font-weight-bold">Company Value: </span><%= kudo.company_value.title %></p>
        <p class="card-text"><span class="font-weight-bold">Receiver: </span><%= kudo.receiver.email %></p>
        <p class="card-text"><span class="font-weight-bold">Giver: </span><%= kudo.giver.email %></p>
        <%= link_to 'Edit', edit_kudo_path(kudo), class: class_names("btn", "btn-warning", "ms-1", { disabled: !policy(kudo).update? })%> |
        <%= link_to 'Destroy', kudo, method: :delete, data: { confirm: 'Are you sure?' }, class: class_names("btn", "btn-danger", "ms-1", { disabled: !policy(kudo).destroy? }) %>
      </div>
    </li>
  <% end %>
</ul>
<%= link_to 'New Kudo', new_kudo_path, class: 'btn btn-primary mb-5 mt-3' %>
