<h1>Company values</h1>

<ul>
  <% @company_values.each do |company_value| %>
    <li class="card" id="company_value_<%= company_value.id %>">
      <div class="card-header">
        Company value <%= company_value.id %>
      </div>
      <div class="card-body">
        <p class="card-text"><span class="font-weight-bold">Title: </span><%= company_value.title %></p>
        <td><%= link_to 'Edit', edit_admin_users_company_value_path(company_value) %></td>
        <td><%= link_to 'Remove', admin_users_company_value_path(company_value), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    </li>
  <% end %>
</ul>