<div class="card" id="company_value_<%= company_value.id %>">  
  <h2 class="card-header">Company value <%= company_value.id %></h2>
  <div class="card-body">
    <p class="card-text"><span class="font-weight-bold">Title: </span><%= company_value.title %></p>
    <td><%= link_to 'Edit', edit_admin_users_company_value_path(company_value),class: 'btn btn-warning' %></td>
    <td><%= link_to 'Remove', admin_users_company_value_path(company_value), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </div>
</div>
