<h1>Kudos</h1>
  <ul>
    <% @kudos.each do |kudo| %>
      <li class="card" id="kudo_<%= kudo.id %>">
        <div class="card-header">
          Kudo for <%= kudo.receiver.email %>
        </div>
        <div class="card-body">
          <p class="card-text"><span class="font-weight-bold">Title: </span><%= kudo.title %></p>
          <p class="card-text"><span class="font-weight-bold">Content: </span><%= kudo.content %></p>
          <p class="card-text"><span class="font-weight-bold">Receiver: </span><%= kudo.receiver.email %></p>
          <p class="card-text"><span class="font-weight-bold">Giver: </span><%= kudo.giver.email %></p>
          <%= link_to 'Remove', admin_users_kudo_path(kudo), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </li>
    <% end %>
  </ul>

<%= link_to 'New Kudo', new_kudo_path, class: 'btn btn-primary' %>
